@model OrangeBricks.Web.Controllers.Offers.ViewModels.MyOffersViewModel

@{
    ViewBag.Title = "My Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>Here you can see the offer(s) that you made on any property.</p>

@foreach (var property in Model.PropertyOffers)
{
    <p><strong>Property type:</strong> @property.PropertyType</p>
    <p><strong>Number of bedrooms:</strong> @property.NumberOfBedrooms</p>
    <p><strong>Street name:</strong> @property.StreetName</p>
    if (property.HasOffers)
    {
        <p>There are @property.Offers.Count() offer(s) on this property...</p>

        foreach (var offer in @property.Offers)
        {
            <hr />
            <div>
                <p><strong>Offer Amount: </strong> £@offer.Amount</p>
                <p><strong>Offer Made At: </strong> @offer.CreatedAt.ToLongTimeString() on @offer.CreatedAt.ToShortDateString()</p>
                <p><strong>Status: </strong> @offer.Status</p>
            </div>
        }
        <hr />
    }
    else
    {
        <div class="alert alert-info" role="alert">
            This property has no offers yet!
        </div>
    }
}

@if (Model.PropertyOffers.Count() < 1)
{
    <div class="alert alert-info" role="alert">
        There are no offers on any property yet!
    </div>
}
